# Implementing Apriori
### Warming up

In [1]:
import pandas as pd
from itertools import combinations

In [33]:
df = pd.DataFrame([(1,1,1,0,0),
                  (1,1,1,1,1),
                  (1,0,1,1,0),
                  (1, 0,1,1,1),
                  (1,1,1,1,0)], columns = ['A', 'B', 'C', 'D', 'E'])
df.head()

   A  B  C  D  E
0  1  1  1  0  0
1  1  1  1  1  1
2  1  0  1  1  0
3  1  0  1  1  1
4  1  1  1  1  0

In [233]:
df.sum()

B     4
M     4
C     2
E     1
BE    3
D     4
dtype: int64

In [376]:
df.columns[df.sum()>=2]

Index(['Bread', 'Milk', 'Beer', 'Diaper'], dtype='object')

In [377]:
list(combinations(df.columns, 2))

[('Bread', 'Milk'),
 ('Bread', 'Beer'),
 ('Bread', 'Diaper'),
 ('Milk', 'Beer'),
 ('Milk', 'Diaper'),
 ('Beer', 'Diaper')]

In [378]:
list(combinations(df.columns, 3))

[('Bread', 'Milk', 'Beer'),
 ('Bread', 'Milk', 'Diaper'),
 ('Bread', 'Beer', 'Diaper'),
 ('Milk', 'Beer', 'Diaper')]

### Final code

In [3]:
df.sum()

Bread     4
Milk      4
Coke      2
Eggs      1
Beer      3
Diaper    4
dtype: int64

In [5]:
df.columns[df.sum()>2]

Index(['Bread', 'Milk', 'Beer', 'Diaper'], dtype='object')

In [6]:
df[df.columns[df.sum()>2]]

    Bread  Milk  Beer  Diaper
T1      1     1     0       0
T2      1     0     1       1
T3      0     1     1       1
T4      1     1     1       1
T5      1     1     0       1

In [7]:
df.columns

Index(['Bread', 'Milk', 'Coke', 'Eggs', 'Beer', 'Diaper'], dtype='object')

In [29]:
df = pd.read_excel('C:/Users/mohit/Desktop/Apriori.xlsx')#Read Data from Excel file
df.head()

    Bread  Milk  Coke  Eggs  Beer  Diaper
T1      1     1     0     0     0       0
T2      1     0     0     1     1       1
T3      0     1     1     0     1       1
T4      1     1     0     0     1       1
T5      1     1     1     0     0       1

In [12]:
list(combinations(df.columns, 2))

[('Bread', 'Milk'),
 ('Bread', 'Coke'),
 ('Bread', 'Eggs'),
 ('Bread', 'Beer'),
 ('Bread', 'Diaper'),
 ('Milk', 'Coke'),
 ('Milk', 'Eggs'),
 ('Milk', 'Beer'),
 ('Milk', 'Diaper'),
 ('Coke', 'Eggs'),
 ('Coke', 'Beer'),
 ('Coke', 'Diaper'),
 ('Eggs', 'Beer'),
 ('Eggs', 'Diaper'),
 ('Beer', 'Diaper')]

In [15]:
df[['Bread', 'Milk']]

    Bread  Milk
T1      1     1
T2      1     0
T3      0     1
T4      1     1
T5      1     1

In [14]:
df[['Bread', 'Milk']].sum(axis =1)

T1    2
T2    1
T3    1
T4    2
T5    2
dtype: int64

In [34]:
min_sup = 2
df = df[df.columns[df.sum()>=min_sup]]
new_df = pd.DataFrame()
for i in range(2, len(df.columns)):
    c=0
    old_df = new_df.copy()
    new_df.drop(new_df.index, inplace=True)#emptying the dataframe
    for l in list(combinations(df.columns, i)):
        col = '_'.join(list(l))
        new_df[col] = df[list(l)].sum(axis =1)
        c=new_df[new_df[col]>=i][col].count()
        if c < min_sup:
            new_df.drop(col, axis = 1, inplace = True)
        if new_df.empty:
            break;
    if new_df.empty:
        break

In [35]:
new_df.dropna(axis =1, inplace=True)
old_df.dropna(axis=1, inplace = True)
if new_df.empty:
    new_df.drop(new_df.index, inplace=True)
    print(old_df.head())
    print('Frequent sets: ', list(old_df.columns))
else:
    old_df.drop(new_df.index, inplace=True)
    print(new_df.head())
    print('Frequent sets: ', list(new_df.columns))

   A_B_C_D  A_C_D_E
0        3        2
1        4        4
2        3        3
3        3        4
4        4        3
Frequent sets:  ['A_B_C_D', 'A_C_D_E']

In [41]:
def apriori(df, min_sup):
    """Returns the most frequent Itemsets of a table with minimum support min_sup"""
    df = df[df.columns[df.sum()>=min_sup]]
    new_df = pd.DataFrame()
    for i in range(2, len(df.columns)):
        old_df = new_df.copy()
        new_df.drop(new_df.index, inplace=True)#emptying the dataframe
        for l in list(combinations(df.columns, i)):
            col = '_'.join(list(l))
            new_df[col] = df[list(l)].sum(axis =1)
            c=new_df[new_df[col]>=i][col].count()
            if c < min_sup:
                new_df.drop(col, axis = 1, inplace = True)
            if new_df.empty:
                break;
        if new_df.empty:
            break
    new_df.dropna(axis =1, inplace=True)
    old_df.dropna(axis=1, inplace = True)
    if new_df.empty:
        new_df.drop(new_df.index, inplace=True)
#         print(old_df.head())
        return list(old_df.columns)
    else:
        old_df.drop(new_df.index, inplace=True)
#         print(new_df.head())
        return list(new_df.columns)

In [40]:
df = pd.read_excel('C:/Users/mohit/Desktop/Apriori.xlsx')
apriori(df, 3)

['Bread_Milk', 'Bread_Diaper', 'Milk_Diaper', 'Beer_Diaper']