In [1]:
from nltk.corpus import gutenberg

In [2]:
from collections import Counter

In [15]:
a=Counter('penny').most_common()
a

[('n', 2), ('p', 1), ('e', 1), ('y', 1)]

In [16]:
a=dict(a)

In [18]:
for item in 'penny':
    print(item+" ", a[item])

p  1
e  1
n  2
n  2
y  1

In [4]:
a=Counter(['p','e','n','n','y']).most_common()
a

[('n', 2), ('p', 1), ('e', 1), ('y', 1)]

In [9]:
a.index(('p',1))

1

In [10]:
a=dict(a)

In [11]:
a

{'e': 1, 'n': 2, 'p': 1, 'y': 1}

In [12]:
a['e']

1

In [12]:
stops = [15, 25, 30, 35, 45, 50, 10, 20]
for  i, city in enumerate([15, 25]):
    count = 0
    for j in range(0, len(stops), 2):
        if city >= stops[j] and city <= stops[j+1]:
            count = count + 1
        print('j = {}'.format(j))
        print('{} >= {}'.format(city, city >= stops[j]))
        print('{} >= {}'.format(city, city<= stops[j+1]))
    print('City {} has {} buses'.format(city, count))

City 15 has 0 buses
City 25 has 0 buses

In [17]:
s = list(map(int, input('').split()))

15 25 30 35

In [18]:
s

[15, 25, 30, 35]

In [21]:
r = int(input())
l = []
for i in range(r):
    l.append(int(input()))

3
12
13
15

In [22]:
l

[12, 13, 15]

In [23]:
r

3

In [ ]:
T = int(input())
for ind in range(T):
    cities = int(input())
    stops = list(map(int, input('').split()))
    N = int(input())
    l = []
    for i in range(N):
        l.append(int(input()))
    
    for  i, city in enumerate(l):
        count = 0
        for j in range(0, len(stops), 2):
            if city >= stops[j] and city <= stops[j+1]:
                count = count + 1
            print('j = {}'.format(j))
            print('{} >= {}'.format(city, city >= stops[j]))
            print('{} >= {}'.format(city, city<= stops[j+1]))
        print('City {} has {} buses'.format(city, count))

In [12]:
import pandas as pd
d = {'a':[10, 3311, 222], 
     'b':['a', 'c', 'c']}
df = pd.DataFrame(d)

In [11]:
df

      a  b
0    10  a
1  3311  c
2   222  c

In [9]:
df.query('b=="c"')

      a  b
1  3311  c
2   222  c

In [13]:
d = {'root_word':['Process', 'Rocket', 'Rocking'], 
     'first_word':['Processing', 'Rocketing', 'Rocking'],
     'second_word':['Processed', 'Rockets', 'Rocked']}
df =pd.DataFrame(d)
df

   first_word root_word second_word
0  Processing   Process   Processed
1   Rocketing    Rocket     Rockets
2     Rocking   Rocking      Rocked

In [36]:
words = ["Processing", "Rocketing", "Rocking", "Rocked", "Processed"]
new_word =[]

In [37]:
for word in words:
    i = df.index[df['first_word']==word]
    if i is not None:
        new_word.append(i)

In [43]:
df.get_value(int(new_word[0].dtype), 'root_word')

TypeError: int() argument must be a string, a bytes-like object or a number, not 'numpy.dtype'

In [101]:
class Stack:
    def __init__(self):
        self.slist = [None] * 1000
        self.rear = 0
        self.push_count = 0
        self.pop_count = 0
        self.top = -1 #Keeps track of the index of top of the stack
    
    def push(self, e):
        """Push e to the top of stack"""
        if self.top == len(self.slist) - 1:
            return 'Stack is full'
        else:
            self.top += 1
            self.slist[self.top] = e
                
                
    def pop(self):
        """Returns last element of the stack"""
        if self.top == -1:
            return 'Stack is Empty'
        else:
            temp = self.slist[self.top]
            self.slist[self.top] == None
            self.top -= 1
            return temp
            
    
    def size(self):
        """ Returns size of the stack"""
        return self.top + 1
        
    def isEmpty(self):
        if self.top == -1:
            return True
        else:
            return False

In [86]:
st = Stack()

In [87]:
st.push(1)

In [88]:
st.push(2)

In [89]:
st.pop()

2

In [90]:
st.push(3)

In [91]:
st.push(5)

In [92]:
st.isEmpty()

False

In [93]:
st.pop()

5

In [94]:
st.pop()

3

In [95]:
st.pop()

1

In [96]:
st.isEmpty()

True

In [97]:
st.pop()

'Stack is Empty'

In [98]:
for i in range(1000):
    st.push(i)

In [99]:
st.push(1000)

'Stack is full'

In [100]:
st.top

999

In [102]:
st.size()

1000